@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Josefin+Sans:ital,wght@0,300;0,400;1,600&family=Oswald:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Italiana', serif;
}
body {
  background-color: #f6f6f6;
}

#root > main.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}